.location-item {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc; /* Dodaj tę linijkę */
  }
  
  .location-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
    
    .location-item.selected {
      background-color: #e0e0e0;
    }
  
    .modal-header {
      padding-bottom: 10px;
      border-bottom: 2px solid #ccc; /* Dodaj tę linijkę */
      margin-bottom: 20px;
    }
  
    .modal-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    .location-list {
      overflow: auto;
      flex-grow: 1; /* Dodaj tę linię */
      display: flex; /* Dodaj tę linię */
      flex-direction: column; /* Dodaj tę linię */
      align-items: flex-start; /* Dodaj tę linię */
    }
    
    .buttons-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
      padding-bottom: 1rem;
    }
    
    .buttons-container button {
      margin-left: 1rem;
      cursor: pointer;
    }
    
    .buttons-container button:hover,
    .location-item.selected {
      background-color: #cce5ff;
    }