/* RegularDocumentForm.css */

.horizontal-tabs {
    display: flex;
    flex-direction: row;
  }
  
  .horizontal-tabs-content {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .horizontal-tabs .nav {
    flex-direction: row;
  }
  
  .horizontal-tabs .nav-item {
    margin-right: 10px; /* Odstęp między zakładkami */
  }
  